<!doctype html>
{% load bootstrap5 %}

<html lang="en">
<head>
    {% bootstrap_css %}
    <title>{% block title %}{% endblock %} - TV Media </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div id="header">
        <h1>TV Media</h1>
    </div>
    {% if user.is_authenticated %}
        {# Display navigation for authenticated users #}
        <nav id="sidebar">
            <ul>
                <li><a class="navbar-link" href="{% url 'logout' %}"><i class="fa-solid fa-thin fa-user"></i>Log out</a></li>
                <li><a class="navbar-link" href="{% url 'epg_generator' %}"><i class="fa-solid fa-thin fa-user"></i>Input</Input> </a></li>
            </ul>
        </nav>
    {% else %}
        {# Display navigation for non-authenticated users #}
        <nav>
            <ul>
                <li><a class="navbar-link" href="{% url 'login' %}"><i class="fa-solid fa-thin fa-user"></i> Log in</a></li>
            </ul>
        </nav>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
